body {
  width: 95vw;
  text-align: center;
}

.table {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.table-headings {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-weight: 700;
  text-decoration: underline;
  padding-bottom: 0;
}